body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50em;
  display: inline-block;
  margin: 0 5px 5px 0;
  cursor: pointer;
}
.circle-default { background-color: rgba(222, 220, 222, 1.000); }
.circle-mine { background-color: rgba(40, 100, 153, 1.000); }
.circle-taken { background-color: rgba(96, 192, 219, 1.000); cursor: default; }
